body{
    font-family: "Open Sans";
    margin: 0px;
    padding:0px;
    background-color: #121212;
    color: white;
}

.nombre_logo{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    width: 315px;
    height: 55px;
    justify-content: flex-start;
    align-items: center;
    
}

.nombre_logo img{
    margin-left:5px;
}

header {
	padding: 10px 0;
    
}

.contenedor_header {
	
	width: 97%;
	margin: auto;
   
}

header .contenedor_header {
	
	display: flex;
	align-items: center;
    justify-content:space-between;
   
}

.logotipo {
    font-family: "Open Sans";
	font-weight:900;
	color: #ffff;
	font-size: 40px;
    
}

.buscar input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #52A3FF;
    width: 500px;
    padding: 0 5px;
    color: #fff;
    font-size: 20px;
    
}

.usuario {
	margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usuario img {
    width: 75px;
    height: 70px;
    border-radius: 50px;
}
a{
    font-size: 17px;
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
}
.continuarviendo{
    
    border-radius: 23px;
    
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;

}


.contenedor_continuarViendo h2{
    text-align: center;
    font-size: 30px;
    margin-left: 35px;

}

.continuarviendo img{
    border-radius: 20px;
    margin: 2px;

}

*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #52a3ff;
    border-radius: 10px;
    border: 2px solid #000000;
  }

