footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 180px;
}

.texto_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto_footer p{
    font-size: 20px;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.texto_footer i{
    padding: 5px;
    font-size: 20px;
    color: #509ef9;
}

span{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
}