/* ---- ----- ----- Header ----- ----- ---- */

.nombre_logo{
    font-size: 18px;
    margin-left: -105px;
    margin-top: 10px;
    display: flex;
    width: 315px;
    height: 55px;
    justify-content: flex-start;
    align-items: center;
    
}

.nombre_logo img{
    margin-left:5px;
}

header {
	padding: 5px 0;
    /*border: 2px solid red ;*/
}

.contenedor {
	width: 95%;
	margin: auto;
    /*border: 2px solid red ;*/
}

header .contenedor {
	display: flex;
	align-items: center;
    justify-content:space-between;
	vertical-align: top;
	z-index: 10;
    /*border: 2px solid red ;*/
}

.principal .logotipo {
	vertical-align: top;
	z-index: 10;

    font-family: 'Open Sans', sans-serif;
	font-weight:900;

	color: #ffff;
	font-size: 40px;
    /*border: 2px solid red ;*/
}

.buscar input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid hsl(212, 100%, 66%);

    height: auto;
    width: 500px;
    
    padding: 0 5px;

    color: #fff;
    font-size: 20px;
    /*border: 2px solid red ;*/
}

.usuario {
	margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red ;*/
}

.usuario img {
    width: 80px;
    height: 75px;
    border-radius: 50px;
}

/* ---- ----- ----- Menu ----- ----- ---- */

.menu {
    height: 55px;
	display: flex;
	position: relative;
	align-items: center;
	margin-top: 10px;

	z-index: 10;
}

.menu i {
	vertical-align: bottom;
	cursor: pointer;

	font-size: 20px;
}

.menu-activo {
	background-color: rgba(0, 0, 0);
	box-shadow: 20px 0px 20px 20px hsl(0, 0%, 0%);
	position: absolute;

	width: 400px;
	height: 100%;

	top: 0;
	left: 0;
	transition: all .5s ease;
}

.menu-activo ul {
	padding: 100px 0px 20px 0px;
	list-style: none;
}

.MenuActivo {
	transform: translate(-600px);
}

.menu-activo ul li {
	color: white;
	display: block;
	font-size: 25px;
	text-decoration: none;
	padding: 10px 50px;
	cursor: pointer;
}

.menu-activo ul li:hover {
	background-color: hsl(212, 100%, 66%);
	color:#000;
}