body{
    font-family: "Open Sans";
    margin: 0px;
    padding:0px;
    background-color: #121212;
    color: white;
}

.nombre_logo{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    width: 315px;
    height: 55px;
    justify-content: flex-start;
    align-items: center;
    
}

.nombre_logo img{
    margin-left: 5px;
}

.titulo h1{
    text-align: center;
    margin: 0px;
}

.titulo p{
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
}

a{
    font-size: 17px;
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
}

i{
    font-size: 30px;
    margin-right: 20px;
    color: white;
}

.contenedor { 
    margin-top: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.opciones_categorias{
     
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 750px;
    height: 410px;
    background-color: #1E1E1E;
}

.layout {
    margin-top: 15px;
    margin-left:69px;  
    width: 700px;
    height: 350px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  
.layout button{
    cursor: pointer;
    border: 1px solid black;
    font-size: 18px;
    font-family: "Open Sans";
    color: white;
    background-color: #000000;
    border-radius: 25px;
    width: 150px;
    height: 35px;
    transition: all 0.3s ease-in-out;
  }

.layout button:hover{
    border: 1px solid #52A3FF;
    background-color: #52A3FF;
    transform: scale(1.1);
  }

  /* Esto hace el efecto de que se quede aplastado el boton */
 button.presionado{
    border: 1px solid #52A3FF;
    background-color: #52A3FF;
    transform: scale(1.1);
  }

  .btn-guardar{
    width: 150px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 2px 2px 0px rgba(82, 163, 255, 0.7);
    background-color: #000000;
    overflow: visible;
    align-content: center;
    border-radius: 8px;
    border-color: #52a3ff;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
    color: white;
    font-family: "Open Sans";
    font-size: 17px;
    cursor: pointer;
  }
  
  .btn-guardar:hover{
    width: 150px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 0px 0px rgba(82, 163, 255, 0.7);
    background-color: #52a3ff;
    overflow: visible;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 8px;
    border-color: #52a3ff;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    font-family: "Open Sans";
    font-size: 17px;
    cursor: pointer;
    color: #000000;
    font-weight: 600;
    
  }

.btn-guardar_y_omitir {
    margin-top: 10px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.contenedor span{
    margin-left: 210px;
}

.contenedor .btn-guardar{
    
    margin-left: 260px;
}


  


 

  

  
