body{
    font-family: "Open Sans";
    margin: 0px;
    padding:0px;
    background-color: #121212;
    color: white;
}

.nombre_logo{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    width: 315px;
    height: 55px;
    justify-content: flex-start;
    align-items: center;
    
}

.nombre_logo img{
    margin-left:5px;
}

.contenedor h1{
    text-align: center;
    font-size: 35px;
}
a{
    text-decoration: none;
    color: white;
}
.contenedor{
    padding-top: 65px; 
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:auto;
}

.perfiles{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #1E1E1E;
    width: 500px;
    height: 255px;
}

.perfiles p{
    margin: 5px;
    text-align: center;
    font-size: 20px;
}

.perfil_miauricio{
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.perfil_miauricio .miauricio{
    width: 150px;
    height: 163px;
    
}

.perfil_miauricio .editar_perfil{
    width: 35px;
    height: 35px;
}

.perfil_miauricio img{
    border-radius: 150px;    
}

.perfil_miauricio i{
    border-radius: 150px;
    margin: 40px;
    font-size: 100px;
    color: black;
}

.fa-circle-plus p{
    font-weight: 200;
    font-family: "Open Sans";
    color: white;
    text-align: center;

}
.nuevo_perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}