body{
    font-family: "Open Sans";
    margin: 0px;
    padding:0px;
    background-color: #121212;
    color: white;
}

.nombre_logo{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    width: 315px;
    height: 55px;
    justify-content: flex-start;
    align-items: center;
    
}

.nombre_logo img{
    margin-left:5px;
}

header {
	padding: 5px 0;
    
}

.contenedor_header {
	
	width: 97%;
	margin: auto;
   
}

header .contenedor_header {
	
	display: flex;
	align-items: center;
    justify-content:space-between;
   
}

.logotipo {
    font-family: "Open Sans";
	font-weight:900;
	color: #ffff;
	font-size: 40px;
    
}

.buscar input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #52A3FF;
    width: 500px;
    padding: 0 5px;
    color: #fff;
    font-size: 20px;
    
}

.usuario {
	margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usuario img {
    width: 75px;
    height: 70px;
    border-radius: 50px;
}

.contenedorinfo_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px
    
}

.info_usuario{
    border: 1px solid black;
    border-radius: 20px;
    background-color: #1E1E1E;
}

.contenedorinfo_usuario img{
    margin-right:109px;
    border-radius: 200px;
}

.info_usuario h1{
   text-align: center;
}

.info_usuario span{
    font-size: 17px;
 }

.layout {
    padding: 15px;
    width: 810px;
    display: grid;
    grid-template-rows: repeat(2, 60px);
    grid-template-columns: repeat(2, 500px);
}

a{
    font-size: 17px;
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
}

i{
    font-size: 25px;
    color: white;
}

.info_usuario .editar_perfil{
    border: 1px solid #454545;
    border-radius: 50px;
    background-color: #454545;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 49vh;
    margin-bottom: 10px;
    width: 95px;
}



*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #52a3ff;
    border-radius: 10px;
    border: 2px solid #000000;
  }

  .carousel{
    
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carouselbox{
    height: 270PX;
    width: auto;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.carouselbox:hover{
    overflow: scroll;
    
}

.carouselbox img{
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: aqua;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 5px;
}

.carouselbox img:hover{
    transform: scale(1.2);
    z-index: 5;
}

.carousel .izquierda, .derecha{
    color: white;
    font-weight: 800;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: lightblue;
    top: 0;
    z-index: 3;
}

.carousel .izquierda{
    position: absolute;
    left: -50px;
}

.carousel .derecha{
    right: -50px;
}
